* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #121212;
}

div {
    background-color: rgba(255, 255, 255, 0.05);
}

header, nav, main, footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4px 0px;
    background-color: rgba(255, 255, 255, 0.05);
}

/* Flex Containers */
div.flex-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

div.flex-container > div {
    margin: 10px;
    width: fit-content;
}

@media screen and (max-with:600px) {
    div.flex-container {
        flex-direction: column;
    }
}

/* Main Navigation Bar */
ul.navMain {
    display: flex;
    list-style-type: none;
    min-width: 50%;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.05);
}

ul.navMain li a {
    display: block;
    margin: 4px 2px;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05);
}

ul.navMain li a:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

/* Tables */
table, th, td {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px rgba(255, 255, 255, 0.25);
    border-style: solid;
    border-collapse: collapse;
}

th, td {
    padding: 6px;
}

td > a {
    color: #FFFFFF;
}

td.yes {
    background-color: #00FF00;
    color: #000000;
    border-color: rgba(0, 0, 0, 0.25);
}

td.maybe {
    background-color: #FFFF00;
    color: #000000;
    border-color: rgba(0, 0, 0, 0.25);
}

td.no {
    background-color: #FF0000;
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.25);
}

div.table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
}